RuoYi-Cloud/ruoyi-auth/src/main/resources/bootstrap.yml
RuoYi-Cloud/ruoyi-auth/src/main/resources/bootstrap.yml
RuoYi-Cloud/ruoyi-auth/src/main/resources/bootstrap.yml
RuoYi-Cloud/ruoyi-auth/src/main/resources/bootstrap.yml
RuoYi-Cloud/ruoyi-gateway/src/main/resources/bootstrap.yml
RuoYi-Cloud/ruoyi-modules/ruoyi-file/src/main/resources/bootstrap.yml
RuoYi-Cloud/ruoyi-modules/ruoyi-gen/src/main/resources/bootstrap.yml
RuoYi-Cloud/ruoyi-modules/ruoyi-product/src/main/resources/application.yml
RuoYi-Cloud/ruoyi-modules/ruoyi-system/src/main/resources/bootstrap.yml
